<h1 mat-dialog-title>Ingrese los siguientes datos</h1>
<div mat-dialog-content *ngIf="data.type == 'send'">
    <form [formGroup]="form">
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Id RAP</mat-label>
                <input matInput formControlName="idRap" type="text">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="name" type="text">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Monto</mat-label>
                <input matInput formControlName="amount" type="number">
            </mat-form-field>
        </div>
        <div class="row">
            <button mat-raised-button color="primary" (click)="addConcept()">
                anadir denominación
            </button>
        </div>

        <div class="row">
            <div formArrayName="denominations">
                <div *ngFor="let concept of denominations.controls; let i=index">
                    <div [formGroupName]="i" class="content-box">
                        <div class="row">
                            <mat-form-field appearance="fill">
                                <mat-label>denominación</mat-label>
                                <mat-select formControlName="denominacion">
                                    <mat-option value=1>1</mat-option>
                                    <mat-option value=2>2</mat-option>
                                    <mat-option value=5>5</mat-option>
                                    <mat-option value=10>10</mat-option>
                                    <mat-option value=20>20</mat-option>
                                    <mat-option value=50>50</mat-option>
                                    <mat-option value=100>100</mat-option>
                                    <mat-option value=200>200</mat-option>
                                    <mat-option value=500>500</mat-option>
                                    <mat-option value=1000>1000</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Cantidad</mat-label>
                                <input matInput formControlName="cantidad" type="number">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field appearance="fill">
                                <mat-label>tipo de denominación</mat-label>
                                <mat-select formControlName="tipo_denominacion">
                                    <mat-option value="Moneda"
                                        [disabled]="denominations.controls[i].value.denominacion >= 50">Moneda
                                    </mat-option>
                                    <mat-option value="Billete">Billete</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <button mat-raised-button color="warn" (click)="removeConcept(i)">
                                quitar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <div class="response" *ngIf="results != ''">
        <pre>{{results | json}}</pre>
    </div>
</div>
<div mat-dialog-content *ngIf="data.type == 'consult'">
    <form [formGroup]="form">
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Id RAP</mat-label>
                <input matInput formControlName="idRap" type="text">
            </mat-form-field>
        </div>
    </form>
    <div class="response" *ngIf="results != ''">
        <pre>{{results | json}}</pre>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>cerrar</button>
    <button mat-raised-button cdkFocusInitial color="primary" (click)="sendData()"
        *ngIf="data.type == 'send'">enviar</button>
    <button mat-raised-button cdkFocusInitial color="primary" (click)="consultData()"
        *ngIf="data.type == 'consult'">consultar</button>
</div>